In [1]:
import pandas as pd 
import numpy as np

In [2]:
df =  pd.read_csv('nba.csv')

In [3]:
print(df.shape)
df.head()

(457, 9)

,Name,Team,Number,Position,Height,Weight,Age,Salary,College
0,Avery Bradley,Boston Celtics,0,PG,6.2,180,25.0,7730337.0,Texas
1,Jae Crowder,Boston Celtics,99,SF,6.3,235,25.0,6796117.0,Marquette
2,John Holland,Boston Celtics,30,SG,6.4,205,27.0,NaN,Boston University
3,R.J. Hunter,Boston Celtics,28,SG,6.5,185,22.0,1148640.0,Georgia State
4,Jonas Jerebko,Boston Celtics,8,PF,6.6,231,29.0,5000000.0,NaN

In [4]:
df.isnull().sum()

Name         3
Team         6
Number       0
Position     0
Height       0
Weight       0
Age          3
Salary      14
College     82
dtype: int64

In [5]:
df = df.fillna(0)

In [6]:
df.isnull().sum()

Name        0
Team        0
Number      0
Position    0
Height      0
Weight      0
Age         0
Salary      0
College     0
dtype: int64

In [7]:
df.shape

(457, 9)

In [8]:
df.head()

,Name,Team,Number,Position,Height,Weight,Age,Salary,College
0,Avery Bradley,Boston Celtics,0,PG,6.2,180,25.0,7730337.0,Texas
1,Jae Crowder,Boston Celtics,99,SF,6.3,235,25.0,6796117.0,Marquette
2,John Holland,Boston Celtics,30,SG,6.4,205,27.0,0.0,Boston University
3,R.J. Hunter,Boston Celtics,28,SG,6.5,185,22.0,1148640.0,Georgia State
4,Jonas Jerebko,Boston Celtics,8,PF,6.6,231,29.0,5000000.0,0

In [9]:
pd.options.display.float_format = '{:.2f}'.format

In [10]:
# Baseline

In [11]:
df.Salary.describe()

count        457.00
mean     4718669.95
std      5224735.58
min            0.00
25%       981348.00
50%      2658240.00
75%      6331404.00
max     25000000.00
Name: Salary, dtype: float64

In [12]:
from sklearn.metrics import mean_absolute_error, r2_score
target = 'Salary'
y = df[target]
y_pred = [y.mean()] * len(y)
print('Mean Baseline:')
print('Mean Absolute Error', mean_absolute_error(y, y_pred))
print('R^2 score', r2_score(y, y_pred))

Mean Baseline:
Mean Absolute Error 3993180.1718562217
R^2 score 0.0

In [36]:
#Linear Regression
import category_encoders as ce
import plotly.express as px
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestRegressor

X = df[['Age', 'Position', 'College','Height','Weight']]
y = df['Salary']

pipeline = make_pipeline(
    ce.OrdinalEncoder(),
    SimpleImputer(strategy='median'),
    RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1)
)

pipeline.fit(X, y)

Pipeline(memory=None,
         steps=[('ordinalencoder',
                 OrdinalEncoder(cols=['Position', 'College'],
                                drop_invariant=False, handle_missing='value',
                                handle_unknown='value',
                                mapping=[{'col': 'Position',
                                          'data_type': dtype('O'),
                                          'mapping': PG      1
SF      2
SG      3
PF      4
C       5
1567    6
NaN    -2
dtype: int64},
                                         {'col': 'College',
                                          'data_type': dtype('O'),
                                          'mapping': Texas                  1
Marquette              2
Boston University      3
Georgia State          4
0...
                ('randomforestregressor',
                 RandomForestRegressor(bootstrap=True, criterion='mse',
                                       max_depth=None, max_features='auto',
                                       max_leaf_nodes=None,
                                       min_impurity_decrease=0.0,
                                       min_impurity_split=None,
                                       min_samples_leaf=1, min_samples_split=2,
                                       min_weight_fraction_leaf=0.0,
                                       n_estimators=100, n_jobs=-1,
                                       oob_score=False, random_state=42,
                                       verbose=0, warm_start=False))],
         verbose=False)

In [13]:
#train/validate/test split
from sklearn.model_selection import train_test_split

train, validate = train_test_split(df, train_size=0.80, test_size=0.20, 
                               random_state=42)

In [14]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, train_size=0.80, test_size=0.20, 
                               random_state=42)
train.shape, validate.shape, test.shape

((365, 9), (92, 9), (92, 9))

In [20]:
train.head()

,Name,Team,Number,Position,Height,Weight,Age,Salary,College
1,Jae Crowder,Boston Celtics,99,SF,6.30,235,25.00,6796117.00,Marquette
2,John Holland,Boston Celtics,30,SG,6.40,205,27.00,0.00,Boston University
3,R.J. Hunter,Boston Celtics,28,SG,6.50,185,22.00,1148640.00,Georgia State
4,Jonas Jerebko,Boston Celtics,8,PF,6.60,231,29.00,5000000.00,0
5,Amir Johnson,Boston Celtics,90,PF,6.70,240,29.00,12000000.00,0

In [33]:
df.Height.unique()

array([ 6.2 ,  6.3 ,  6.4 ,  6.5 ,  6.6 ,  6.7 ,  6.8 ,  6.9 ,  6.1 ,
        6.11,  6.12,  6.13,  6.14,  6.15,  6.16,  6.17,  6.18,  6.19,
        6.21,  6.22,  6.23,  6.24,  6.25,  6.26,  6.27,  6.28,  6.29,
        7.1 ,  7.2 ,  7.3 ,  7.4 ,  7.5 ,  7.6 ,  7.7 ,  7.8 ,  7.9 ,
        7.11,  7.12,  7.13,  7.14,  7.15,  7.16,  7.17,  7.18,  7.19,
        7.21,  7.22,  7.23,  7.24,  7.25,  7.26,  7.27,  7.28,  7.29,
        7.31,  8.1 ,  8.2 ,  8.3 ,  8.4 ,  8.5 ,  8.6 ,  6.  ,  7.  ,
        5.11, 26.2 , 66.6 , 56.5 , 76.7 ])

In [34]:
df.Weight.unique()

array([180, 235, 205, 185, 231, 240, 238, 190, 220, 260, 215, 253, 216,
       200, 208, 219, 175, 275, 237, 248, 221, 210, 195, 255, 250, 278,
       254, 201, 245, 228, 206, 212, 194, 225, 265, 230, 192, 273, 251,
       270, 209, 189, 242, 213, 186, 161, 191, 232, 198, 193, 233, 218,
       179, 172, 279, 188, 222, 243, 229, 246, 234, 257, 249, 217, 202,
       252, 226, 165, 227, 239, 203, 170, 290, 199, 289, 184, 169, 207,
       183, 280, 214, 241, 223, 307, 244, 173, 256])

In [35]:
df.Weight.describe()

count   457.00
mean    221.52
std      26.37
min     161.00
25%     200.00
50%     220.00
75%     240.00
max     307.00
Name: Weight, dtype: float64

In [28]:
df.College.unique()

array(['Texas', 'Marquette', 'Boston University', 'Georgia State', 0,
       'LSU', 'Gonzaga', 'Louisville', 'Oklahoma State', 'Ohio State',
       'Washington', 'Kentucky', 'North Carolina', 'Arizona',
       'Georgia Tech', 'Cincinnati', 'Miami (FL)', 'Stanford', 'Syracuse',
       'Saint Louis', 'Kansas', 'Georgetown', 'Texas A&M', 'UCLA', 'UNLV',
       'Wichita State', "Saint Joseph's", 'Notre Dame', 'Norfolk State',
       'Duke', 'Murray State', 'Tennessee State', 'Bowling Green',
       'Purdue', 'Wake Forest', 'Michigan', 'Missouri', 'USC',
       'Villanova', 'Rider', 'Utah', 'Belmont', 'Davidson', 'Vanderbilt',
       'Michigan State', 'Florida', 'Washington State', 'Arizona State',
       'Oklahoma', 'Wyoming', "St. John's", 'Maryland', 'Wisconsin',
       'Utah Valley', 'North Carolina State', 'UC Santa Barbara',
       'Baylor', 'Connecticut', 'Oregon State', 'New Mexico', 'Oregon',
       'Creighton', 'Arkansas', 'Memphis', "Saint Mary's", 'Tennessee',
       'Alabama', 'Georgia', 'Colorado', 'Boston College', 'Temple',
       'Fresno State', 'IUPUI', 'Eastern Washington', 'Western Michigan',
       'Virginia', 'Northeastern', 'Western Kentucky', 'Nevada',
       'Illinois', 'Kansas State', 'Charleston', 'Clemson',
       'Blinn College', 'Providence', '123456', 'Detroit', 'Rhode Island',
       'California', 'Cleveland State', 'Iowa State', 'Florida State',
       'Long Beach State', 'Penn State', 'Indiana', 'San Diego State',
       'Western Carolina', 'Houston', 'Xavier', 'Old Dominion',
       'Minnesota', 'Louisiana Tech', 'Bucknell', 'Pittsburgh', '!$^&',
       'Virginia Commonwealth', 'Harvard', 'Marshall', 'Iowa',
       'St. Bonaventure', 'Louisiana-Lafayette', 'Colorado State',
       'Virginia Tech', 'DePaul', 'Morehead State', 'Central Michigan',
       'Weber State', 'Lehigh', 'Westchester CC', 'Dayton', 'Butler'],
      dtype=object)

In [18]:
df.College.head(50)

0                 Texas
1             Marquette
2     Boston University
3         Georgia State
4                     0
5                     0
6                   LSU
7               Gonzaga
8            Louisville
9        Oklahoma State
10           Ohio State
11           Washington
12           Ohio State
13             Kentucky
14       North Carolina
15                    0
16       Oklahoma State
17       North Carolina
18              Arizona
19         Georgia Tech
20                    0
21           Cincinnati
22           Miami (FL)
23             Stanford
24             Syracuse
25          Saint Louis
26               Kansas
27           Georgetown
28            Texas A&M
29         Georgia Tech
30                 UCLA
31                 UNLV
32                    0
33             Syracuse
34                    0
35        Wichita State
36       Saint Joseph's
37           Notre Dame
38             Stanford
39        Norfolk State
40                    0
41                    0
42                 Duke
43                    0
44              Arizona
45           Washington
46                 Duke
47         Murray State
48      Tennessee State
49               Kansas
Name: College, dtype: object

In [20]:
df.College.tail(60)

397                   0
398                   0
399          Louisville
400                   0
401                Duke
402                UCLA
403                UCLA
404      Michigan State
405                   0
406            Kentucky
407                   0
408                   0
409        Fresno State
410            Kentucky
411              Kansas
412          Pittsburgh
413              Kansas
414               Texas
415           Villanova
416            Stanford
417                   0
418            Kentucky
419            Michigan
420            Kentucky
421        Georgia Tech
422        Murray State
423            Colorado
424                Duke
425            Syracuse
426                UCLA
427              Kansas
428         Wake Forest
429          Notre Dame
430          California
431      North Carolina
432          St. John's
433                Duke
434    Central Michigan
435            Illinois
436         Weber State
437              Lehigh
438      Westchester CC
439                Duke
440              Dayton
441             Indiana
442             Clemson
443            Michigan
444            Colorado
445                   0
446        Georgia Tech
447                   0
448              Butler
449                Duke
450                   0
451              Dayton
452            Kentucky
453              Butler
454                   0
455                   0
456              Kansas
Name: College, dtype: object

In [15]:
df.Position.value_counts()

SG      102
PF      100
PG       91
SF       85
C        78
1567      1
Name: Position, dtype: int64

In [24]:
df.Age.value_counts()

24.00    47
25.00    44
27.00    41
23.00    40
26.00    36
28.00    31
30.00    31
29.00    28
22.00    26
31.00    22
20.00    19
21.00    19
33.00    13
32.00    13
36.00    10
34.00    10
35.00     9
37.00     4
38.00     4
0.00      3
40.00     3
39.00     2
19.00     2
Name: Age, dtype: int64

In [16]:
import numpy as np

def clean(X):
    # stop SettingWithCopyWarning
    X = X.copy()


    X = df.replace('1567', 0)
    
    X = X.drop(0)

    
    return X

train = clean(train)
val = clean(validate)
test = clean(test)

In [17]:
target = 'Salary'

X_train = train.drop(columns=target)
y_train = train[target]
X_validate = val.drop(columns=target)
y_validate = val[target]
X_test = test.drop(columns=target)
y_test = test[target]

In [18]:
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestRegressor
# from sklearn.preprocessing import RobustScaler

pipeline = make_pipeline(
    ce.OrdinalEncoder(),
    SimpleImputer(strategy='median'),
    RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1)
)

# Fit on train , score on val 
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_validate)
print('Mean Absolute Error', mean_absolute_error(y_validate, y_pred))
print('R^2 score', r2_score(y_validate, y_pred))
print('Validation Accuracy', pipeline.score(X_validate,y_validate))

Mean Absolute Error 1424151.759364035
R^2 score 0.8624022093040788
Validation Accuracy 0.8624022093040788

In [37]:
from joblib import dump
dump(pipeline, 'pipeline.joblib')

['pipeline.joblib']