In [2]:
# import category_encoders as ce
# import plotly.express as px
# from sklearn.linear_model import LinearRegression
# from sklearn.pipeline import make_pipeline

# gapminder = px.data.gapminder()
# X = gapminder[['year', 'continent']]
# y = gapminder['lifeExp']

# pipeline = make_pipeline(
#     ce.OneHotEncoder(use_cat_names=True), 
#     LinearRegression()
# )

# pipeline.fit(X, y)

Pipeline(memory=None,
         steps=[('onehotencoder',
                 OneHotEncoder(cols=['continent'], drop_invariant=False,
                               handle_missing='value', handle_unknown='value',
                               return_df=True, use_cat_names=True, verbose=0)),
                ('linearregression',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [3]:
# gapminder.describe()

             year      lifeExp           pop      gdpPercap      iso_num
count  1704.00000  1704.000000  1.704000e+03    1704.000000  1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081   425.880282
std      17.26533    12.917107  1.061579e+08    9857.454543   248.305709
min    1952.00000    23.599000  6.001100e+04     241.165877     4.000000
25%    1965.75000    48.198000  2.793664e+06    1202.060309   208.000000
50%    1979.50000    60.712500  7.023596e+06    3531.846989   410.000000
75%    1993.25000    70.845500  1.958522e+07    9325.462346   638.000000
max    2007.00000    82.603000  1.318683e+09  113523.132900   894.000000

In [4]:
# gapminder.describe(exclude='number')

       country continent iso_alpha
count     1704      1704      1704
unique     142         5       141
top      China    Africa       KOR
freq        12       624        24

In [9]:
# sorted(list(gapminder.continent.unique()))

['Africa', 'Americas', 'Asia', 'Europe', 'Oceania']

In [11]:
# from joblib import dump
# dump(pipeline, 'pipeline.joblib')

['pipeline.joblib']

In [1]:
import pandas as pd 
import numpy as np

In [3]:
df =  pd.read_csv('nba.csv')

In [4]:
print(df.shape)
df.head()

(457, 9)

,Name,Team,Number,Position,Height,Weight,Age,Salary,College
0,Avery Bradley,Boston Celtics,0,PG,6.2,180,25.0,7730337.0,Texas
1,Jae Crowder,Boston Celtics,99,SF,6.3,235,25.0,6796117.0,Marquette
2,John Holland,Boston Celtics,30,SG,6.4,205,27.0,NaN,Boston University
3,R.J. Hunter,Boston Celtics,28,SG,6.5,185,22.0,1148640.0,Georgia State
4,Jonas Jerebko,Boston Celtics,8,PF,6.6,231,29.0,5000000.0,NaN

In [5]:
df.isnull().sum()

Name         3
Team         6
Number       0
Position     0
Height       0
Weight       0
Age          3
Salary      14
College     82
dtype: int64

In [6]:
df = df.fillna(0)

In [7]:
df.isnull().sum()

Name        0
Team        0
Number      0
Position    0
Height      0
Weight      0
Age         0
Salary      0
College     0
dtype: int64

In [8]:
df.shape

(457, 9)

In [9]:
df.head()

,Name,Team,Number,Position,Height,Weight,Age,Salary,College
0,Avery Bradley,Boston Celtics,0,PG,6.2,180,25.0,7730337.0,Texas
1,Jae Crowder,Boston Celtics,99,SF,6.3,235,25.0,6796117.0,Marquette
2,John Holland,Boston Celtics,30,SG,6.4,205,27.0,0.0,Boston University
3,R.J. Hunter,Boston Celtics,28,SG,6.5,185,22.0,1148640.0,Georgia State
4,Jonas Jerebko,Boston Celtics,8,PF,6.6,231,29.0,5000000.0,0

In [10]:
pd.options.display.float_format = '{:.2f}'.format

In [11]:
df.Salary.describe()

count        457.00
mean     4718669.95
std      5224735.58
min            0.00
25%       981348.00
50%      2658240.00
75%      6331404.00
max     25000000.00
Name: Salary, dtype: float64

In [12]:
from sklearn.metrics import mean_absolute_error, r2_score
target = 'Salary'
y = df[target]
y_pred = [y.mean()] * len(y)
print('Mean Baseline:')
print('Mean Absolute Error', mean_absolute_error(y, y_pred))
print('R^2 score', r2_score(y, y_pred))

Mean Baseline:
Mean Absolute Error 3993180.1718562217
R^2 score 0.0

In [22]:
#Linear Regression
import category_encoders as ce
import plotly.express as px
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline

X = df[['Age', 'Position']]
y = df['Salary']

pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True), 
    LinearRegression()
)

pipeline.fit(X, y)

Pipeline(memory=None,
         steps=[('onehotencoder',
                 OneHotEncoder(cols=['Position'], drop_invariant=False,
                               handle_missing='value', handle_unknown='value',
                               return_df=True, use_cat_names=True, verbose=0)),
                ('linearregression',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [13]:
#train/validate/test split
from sklearn.model_selection import train_test_split

train, validate = train_test_split(df, train_size=0.80, test_size=0.20, 
                               random_state=42)

In [14]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, train_size=0.80, test_size=0.20, 
                               random_state=42)
train.shape, validate.shape, test.shape

((365, 9), (92, 9), (92, 9))

In [20]:
train.head()

,Name,Team,Number,Position,Height,Weight,Age,Salary,College
1,Jae Crowder,Boston Celtics,99,SF,6.30,235,25.00,6796117.00,Marquette
2,John Holland,Boston Celtics,30,SG,6.40,205,27.00,0.00,Boston University
3,R.J. Hunter,Boston Celtics,28,SG,6.50,185,22.00,1148640.00,Georgia State
4,Jonas Jerebko,Boston Celtics,8,PF,6.60,231,29.00,5000000.00,0
5,Amir Johnson,Boston Celtics,90,PF,6.70,240,29.00,12000000.00,0

In [15]:
df.Position.value_counts()

SG      102
PF      100
PG       91
SF       85
C        78
1567      1
Name: Position, dtype: int64

In [24]:
df.Age.value_counts()

24.00    47
25.00    44
27.00    41
23.00    40
26.00    36
28.00    31
30.00    31
29.00    28
22.00    26
31.00    22
20.00    19
21.00    19
33.00    13
32.00    13
36.00    10
34.00    10
35.00     9
37.00     4
38.00     4
0.00      3
40.00     3
39.00     2
19.00     2
Name: Age, dtype: int64

In [16]:
import numpy as np

def clean(X):
    # stop SettingWithCopyWarning
    X = X.copy()


    X = df.replace('1567', 0)
    
    X = X.drop(0)

    
    return X

train = clean(train)
val = clean(validate)
test = clean(test)

In [17]:
target = 'Salary'

X_train = train.drop(columns=target)
y_train = train[target]
X_validate = val.drop(columns=target)
y_validate = val[target]
X_test = test.drop(columns=target)
y_test = test[target]

In [18]:
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestRegressor
# from sklearn.preprocessing import RobustScaler

pipeline = make_pipeline(
    ce.OrdinalEncoder(),
    SimpleImputer(strategy='median'),
    RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1)
)

# Fit on train , score on val 
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_validate)
print('Mean Absolute Error', mean_absolute_error(y_validate, y_pred))
print('R^2 score', r2_score(y_validate, y_pred))
print('Validation Accuracy', pipeline.score(X_validate,y_validate))

Mean Absolute Error 1424151.759364035
R^2 score 0.8624022093040788
Validation Accuracy 0.8624022093040788

In [23]:
from joblib import dump
dump(pipeline, 'pipeline.joblib')

['pipeline.joblib']